.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 5px 20px 0;
    padding: 8px 8px 0px;
    border: 1px solid transparent;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 15px;
    padding: 10px;
    border: none;
    width: 98%;
    margin-left: 2px;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
}
.header__search:focus-within {
    border: 2px solid orange;
    border-radius: 8px;
}

.header__search:focus-within .header__searchIcon {
    border: 3px solid orange;
    border-left-width: 0;
}

.header__searchIcon{
    padding: 5px;
    height: 25px !important;
    background-color: #cd9042;
    border-radius: 0 4px 4px 0;
    border: 1px solid transparent;
}

.header__optionLineOne{
    font-size: 11px;
    font-weight: 600;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 0 5px 5px;
    margin: 10px;
    border: 1px solid transparent;
}
.header__optionBasket p{
    display: flex;
}

.header__basketCount{
    font-size: 16px;
    margin: 0 10px;
    color: orange;
}

.header__basketCount p{
    font-size: 14px;
    color: #fff;
}


.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin: 10px 6px;
    color: white;
    padding: 8px 8px 10px 8px;
    border: 1px solid transparent;
}
.header__option:hover, .header__optionBasket:hover, .header__logo:hover{
    border: 1px solid #fff;
}